{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hi {{ form.vars.value.firstname ~ ' ' ~ form.vars.value.lastname }}, please enter your new password!</h1>
        {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_end(form) }}
    </div>
{% endblock %}