{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}
        <div class="hero-image">
                <div class="hero-text">
                        <h1 style="font-size:80px">Snow Tricks</h1>
                        <h3>La communauté</h3>
                </div>
                <a href="#tricks"><i class="fas fa-arrow-circle-down fa-3x arrow-down"></i></a>
        </div>
        <div class="container mt-5 mb-5">
                <ul id="myList" class="row">
                {%  for trick in tricks %}
                        <li class="col-md-3">
                                <div class="card mb-2">
                                        <img src="{{ trick.getCover.location }}" alt="trick" class="img-fluid" style="height: 150px">
                                        <div class="card-body d-flex justify-content-between">
                                                <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}/{{ trick.slug }}" class="btn btn-primary btn-sm">{{ trick.name }}</a>
                                                <div>
                                                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                        </div>
                                </div>
                        </li>
                {% endfor %}
                </ul>
                <div id="message" class="container mt-5 mb-5">
                </div>
                <div class="row arrow-up">
                        <a href="#tricks"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
                </div>
                <div class="text-center mb-5">
                        <button class="btn btn-primary" id="loadMore">Load More</button>
                </div>
        </div>
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
                $(document).ready(function(){
                        $('#loadMore').click(function(){
                                event.preventDefault();
                                $.get(
                                        '{{ path('home_loadMore') }}',
                                        {

                                        },

                                        function(response){

                                                var $ul = $(`<ul id="myList" class="row"></ul>`);
                                                $.each(JSON.parse(response), function(i, item){
                                                        $ul.append('<li class="col-md-3"><div class="card mb-2">');
                                                        for (const field in item) {
                                                                $ul.append(`${field}: ${item[field]}`);
                                                        }
                                                        // $ul.append('</div></li>');
                                                        $('#message').append($ul);
                                                });

                                                // response.forEach(function(item) {
                                                //         var $ul = $('<ul></ul>');
                                                //         for (var field in item) {
                                                //                 $ul.append(`<li>${field}: ${item[field]}</li>`);
                                                //         }
                                                //         $data.append($ul);
                                                // });




                                                // $.each(JSON.parse(response), function(test, test1) {
                                                //         $.each(test1, function(index, element){
                                                //                 $("#id").append(element.id);
                                                //                 $("#name").append(element.name);
                                                //                 $("#cover").append(element.cover);
                                                //         });
                                                // });
                                                // response = JSON.parse(response);
                                                // for (const element of response){
                                                //         for (const test of element)
                                                //         $("#id").append(test.id);
                                                //         $("#name").append(test.name);
                                                //         $("#cover").append(test.cover);
                                                // }
                                        },

                                        'text'
                                );
                        });
                });
        </script>
{% endblock %}
