{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}
        <div class="hero-image">
                <div class="hero-text">
                        <h1 style="font-size:80px">Snow Tricks</h1>
                        <h3>La communauté</h3>
                </div>
                <a href="#tricks"><i class="fas fa-arrow-circle-down fa-3x arrow-down"></i></a>
        </div>
        <div class="container mt-5 mb-5">
                {% for trick in tricks %}
                        {% if loop.first or loop.index % 6 == 0 %}
                                <div class="row" id="tricks">
                        {% endif %}
                                <div class="col-md">
                                        <div class="card mb-2">
                                                {% set cover = "" %}
                                                {% for key, photos in trick.photos %}
                                                        {% if photos.cover == true %}
                                                                <img src="{{ photos.location }}" alt="trick" class="img-fluid" style="height: 150px">
                                                                {% set cover = "true" %}
                                                        {% endif %}
                                                {% endfor %}
                                                {% if cover != "true" %}
                                                        {% set photo = "" %}
                                                        {% for key, photos in trick.photos %}
                                                                {% if key == 0 %}
                                                                    <img src="{{ photos.location }}" alt="trick" class="img-fluid" style="height: 150px">
                                                                    {% set photo = "true" %}
                                                                {% endif %}
                                                        {% endfor %}
                                                        {% if photo != "true" %}
                                                            <img src="../img/cover.jpg" alt="trick" class="img-fluid" style="height: 150px">
                                                        {% endif %}
                                                {% endif %}
                                                <div class="card-body d-flex justify-content-between">
                                                        <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}/{{ trick.slug }}" class="btn btn-primary btn-sm">{{ trick.name }}</a>
                                                        <div>
                                                                <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                                                <a href="#"><i class="fas fa-trash-alt"></i></a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        {% if loop.index % 5 == 0 %}
                        </div>
                        {% endif %}
                {% endfor %}
                <div class="row arrow-up">
                        <a href="#tricks"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
                </div>
                <div class="text-center mb-5">
                        <button class="btn btn-primary">Load More</button>
                </div>
        </div>
{% endblock %}
