{% for video in form %}
        <div id="collection-video {{ video.vars.id }}" class="col-md-3 media">
            <div id="videoCard" class="card mb-2">
                {{ video.vars.value.location }}
                <div class="d-flex flex-row-reverse mr-1">
                    <div class="m-1 p-1 rounded bg-light d-flex flex-row">
                        <div class="videoInput hidden">
                            {{ form_widget(video.location) }}
                        </div>
                        <div class="editVideo">
                            {{ form_label(video.location) }}
                        </div>
                        {{ form_widget(video.delete) }}
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
