<div id="collection-photo {{ form.vars.id }}" class="col-md-3">
    <div id="photoCard" class="card mb-2">
        {% if form.vars.data is not null %}
            {% if 'https://' in form.vars.value.location %}
                <img src='{{ form.vars.value.location }}' alt='photo' class='img-fluid' style='height: 150px'>
            {% else %}
                <img src='{{ asset('/uploads/') }}{{ form.vars.value.location }}' alt='photo' class='img-fluid' style='height: 150px'>
            {% endif %}
        {% endif %}
        {{ form_widget(form) }}
{#        <button type="button" class="btn btn-danger collection-item-delete"><i class="fas fa-trash"></i></button>#}
        <a href="#"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
