{{ form_start(formView) }}
{% set foo = false %}
{% for photo in formView.photos %}
    {%  if photo.vars.value.cover == true %}
        {% if 'https://' in trick.getCover.location %}
            <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ trick.getCover.location }}')">
        {% else %}
            <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ asset('/uploads/') }}{{ trick.getCover.location }}')">
        {% endif %}
        <div class="hero-text">
            <h1>{{ app.session.get('slugTrickNameBeforeChanged')|capitalize }}</h1>
        </div>
        {% if is_granted("ROLE_USER") %}
            <div class="d-flex flex-row-reverse mr-4">
                <div class="mt-3 p-3 rounded bg-light">
                    {{ form_widget(photo.file) }}
                    {{ form_label(photo.file) }}
                    {{ form_widget(photo.delete) }}
                </div>
            </div>
        {% endif %}
        </div>
        {% set foo = true %}
    {% endif %}
{% endfor %}

    {% if foo == false %}
    {% if 'https://' in trick.getCover.location %}
        <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ trick.getCover.location }}')">
    {% else %}
        <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ asset('/uploads/') }}{{ trick.getCover.location }}')">
    {% endif %}
            <div class="hero-text">
                <h1>{{ app.session.get('slugTrickNameBeforeChanged')|capitalize }}</h1>
            </div>
        {% if is_granted("ROLE_USER") %}
            <div class="d-flex flex-row-reverse mr-4">
                <div class="mt-3 p-3 rounded bg-light">
                    {{ form_widget(formView.fileCover) }}
                </div>
            </div>
        {% endif %}
        {% endif %}
        </div>
{{ include("/shared/_formPhoto.html.twig", {form: formView.photos}) }}

<div class="card-footer d-flex justify-content-center">
    <ul class="photos" data-prototype="{{ form_widget(formView.photos.vars.prototype)|e('html_attr') }}"></ul>
</div>

<div class="container col-md-8 mt-5 mb-5">
    <fieldset class="mb-4">
        {{ form_errors(formView) }}
        {{ form_row(formView.name) }}
        {{ form_row(formView.description) }}
        {{ form_row(formView.category) }}
    </fieldset>
    <fieldset>
        <button type="button" class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Delete
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>
            Save
        </button>
    </fieldset>
</div>
{{ form_end(formView) }}
