{% for video in form %}
    {% if  video.vars.value.location|videoFormat|raw == true %}
        <div id="collection-video {{ video.vars.id }}" class="col-md-3 trick-media">
            <div id="videoCard" class="card mb-2">
                {{ video.vars.value.location|videoFormat|raw }}
                <div class="d-flex flex-row-reverse mr-1">
                    <div class="m-1 p-1 rounded bg-light d-flex flex-row selectors">
                        <div class="videoInput hidden">
                            <div class="d-flex">
                                {{ form_widget(video.location, {'attr': {'onchange': 'previewVideo(this)'}}) }}
                                <button id="validUpdateVideo" type="button" class="btn btn-success">valid</button>
                            </div>
                        </div>
                        <div class="edit-buttons1">
                            <div class="d-flex">
                            <div class="editVideo">
                                {{ form_label(video.location) }}
                            </div>
                            {{ form_widget(video.delete) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_widget(video, {'attr': {'class': 'hidden'} }) }}
    {% endif %}
{% endfor %}
<div class="endVideo"></div>
