<div id="collection-photo {{ form.vars.id }}" class="col-md-3">
    <div id="photoCard" class="card mb-2">
        {% if form.vars.data is not null %}
            {% if 'https://' in form.vars.value.location %}
                <img src='{{ form.vars.value.location }}' alt='photo' class='img-fluid' style='height: 150px'>
            {% else %}
                <img src='{{ asset('/uploads/') }}{{ form.vars.value.location }}' alt='photo' class='img-fluid' style='height: 150px'>
            {% endif %}
        {% endif %}
        <div class="d-flex flex-row-reverse mr-1">
            <div class="m-1 p-1 rounded bg-light">
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
                {{ form_widget(form.delete) }}
{#        <button type="button" class="btn btn-danger collection-item-delete"><i class="fas fa-trash"></i></button>#}
{#                <a href="#"><i class="fas fa-trash-alt"></i></a>#}
            </div>
        </div>
    </div>
</div>
