{% set test = 1 %}
{% for photo in form %}
        {%  if photo.vars.value.cover == false %}
            <div id="collection-photo {{ photo.vars.id }}" class="trick-media col-md-3">
                <div id="photoCard" class="card mb-2">
                    {% if photo.vars.data is not null %}
                        {% if 'https://' in photo.vars.value.location %}
                            <img id="previewImg-{{ photo.vars.id }}" src='{{ photo.vars.value.location }}' alt='photo' class='img-fluid littlePhoto' style='height: 150px'>
                        {% else %}
                            <img id="previewImg-{{ photo.vars.id }}" src='{{ asset('/uploads/' ~ photo.vars.value.location) }}' alt='photo' class='img-fluid littlePhoto' style='height: 150px'>
                        {% endif %}
                            {{ dump(test) }}
                            <img id="previewImg-{{ photo.vars.id }}" src='{{ app.request.files.get('trick')['photos'][ test ]['file']|fileGetContent }}' alt='photo' class='img-fluid littlePhoto' style='height: 150px'>
                    {% endif %}
                    <div class="d-flex flex-row-reverse mr-1">
                        <div class="m-1 p-1 rounded bg-light d-flex flex-row">
                            <div class="hidden">
                                {{ form_widget(photo.file, {'attr': {'onchange': 'previewPhoto(this)'}}) }}
                            </div>
                            {{ form_label(photo.file) }}
                            {%  if photo.vars.value.location is not null  %}
                                {{ form_widget(photo.delete) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}
    {% set test = test+1 %}
{% endfor %}

<div class="bigPhoto"></div>
