{% extends 'base.html.twig' %}

{% block title %}Trick edit{% endblock %}

{% block body %}
    <div class="container mt-5 pt-3 border rounded">

        {% if 'https://' in trick.getCover.location %}
            <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ trick.getCover.location }}')">
        {% else %}
            <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ asset('/uploads/') }}{{ trick.getCover.location }}')">
        {% endif %}
            <div class="hero-text">
                <h1>{{ trick.name|capitalize }}</h1>
            </div>
            {% if is_granted("ROLE_USER") %}
                <div class="d-flex flex-row-reverse mr-4">
                    <div class="mt-3 p-3 rounded bg-light">
                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>

        {% include '/shared/_formTrick.html.twig' %}

        <div class="row justify-content-around border rounded pt-3 pb-3 ml-3 mr-3 mb-3">
            <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"><span class="badge badge-primary p-2">{{ trick.category.name }}</span></a>
            <p>Author: {{ trick.user.firstName }} {{ trick.user.lastName }}</p>
            <p>Created: {{ trick.createdDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
            <p>Modified: {{ trick.modifiedDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // setup an "add a photo" link
        var $addphotoLink = $('<a href="#" class="btn btn-primary">Add a Photo</a>');
        var $newLinkLi = $('<li></li>').append($addphotoLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of photos
            var $collectionHolder = $('ul.photos');
            var $nbPhoto = $("[id=photoCard]").length;
            // add the "add a photo" anchor and li to the photos ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $nbPhoto);

            $addphotoLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new photo form (see code block below)
                addphotoForm($collectionHolder, $newLinkLi);
            });
        });

        function addphotoForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a photo" link li
            var $newFormLi = $('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-photo btn btn-danger">Delete</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-photo').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }

        $(document).ready(function() {
            $('input[type="file"]').change(function(e) {
                var file = e.target.files[0].name;
                alert('Le fichier "' + file + '" a été sélectionné.');
            });

            // $('button[class="delete btn"]').click(function () {
            //     $('div[id="photoCard"]').hide();
            // });

            // $('#conteneur-parent > button').click(function(){
            $('button[class="delete btn"]').click(function(){
                var x = $(this).attr('id');
                x = x.replace("_delete", "");
                var test = 'div[id="collection photo '+ x +'"]';
                $('div[id="collection-photo '+ x +'"]').hide();
            });
        });
    </script>
{% endblock %}