{% extends 'base.html.twig' %}

{% block title %}Trick edit{% endblock %}

{% block body %}
    <div class="container mt-5 pt-3 border rounded">
        <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ trick.getCover.location }}')">
            <div class="hero-text">
                <h1>{{ trick.name|capitalize }}</h1>
            </div>
            {% if is_granted("ROLE_USER") %}
                <div class="d-flex flex-row-reverse mr-4">
                    <div class="mt-3 p-3 rounded bg-light">
                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>
            {{ form_start(formView) }}
        <div class="row">
            {% for photo in formView.photos %}
            <div class="col-md-3">
                <div class="card mb-2">
                    <img src='{{ photo.vars.value.location }}' alt='trick' class='img-fluid' style='height: 150px'>
                    {{ form_widget(photo) }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <ul class="photos" data-prototype="{{ form_widget(formView.photos.vars.prototype)|e('html_attr') }}"></ul>
        </div>
        <div class="container col-md-8 mt-5 mb-5">
            <fieldset class="mb-4">
                {{ form_errors(formView) }}
                {{ form_row(formView.name) }}
                {{ form_row(formView.description) }}
                {{ form_row(formView.category) }}
            </fieldset>
            <fieldset>
                <button type="button" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Delete
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </fieldset>
            {{ form_end(formView) }}
        </div>
        <div class="row justify-content-around border rounded pt-3 pb-3 ml-3 mr-3 mb-3">
            <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"><span class="badge badge-primary p-2">{{ trick.category.name }}</span></a>
            <p>Author: {{ trick.user.firstName }} {{ trick.user.lastName }}</p>
            <p>Created: {{ trick.createdDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
            <p>Modified: {{ trick.modifiedDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // setup an "add a photo" link
        var $addphotoLink = $('<a href="#" class="btn btn-primary">Add a Photo</a>');
        var $newLinkLi = $('<li></li>').append($addphotoLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of photos
            var $collectionHolder = $('ul.photos');

            // add the "add a photo" anchor and li to the photos ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addphotoLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new photo form (see code block below)
                addphotoForm($collectionHolder, $newLinkLi);
            });
        });

        function addphotoForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a photo" link li
            var $newFormLi = $('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-photo btn btn-danger">Delete</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-photo').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}