{% extends 'base.html.twig' %}

{% block title %}Trick edit{% endblock %}

{% block body %}
    <div class="container mt-5 pt-3 border rounded">

        {% include '/shared/_formTrick.html.twig' %}

        <div class="row justify-content-around border rounded pt-3 pb-3 ml-3 mr-3 mb-3">
            <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"><span class="badge badge-primary p-2">{{ trick.category.name }}</span></a>
            <p>Author: {{ trick.user.firstName ~ trick.user.lastName }}</p>
            <p>Created: {{ trick.createdDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
            <p>Modified: {{ trick.modifiedDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/trick.js"></script>
{% endblock %}