{% extends 'base.html.twig' %}

{% block title %}Trick edit{% endblock %}

{% block body %}
    <div class="container mt-5 pt-3 border rounded">
        <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ trick.getCover.location }}')">
            <div class="hero-text">
                <h1>{{ trick.name|capitalize }}</h1>
            </div>
            {%  if app.user %}
                <div class="d-flex flex-row-reverse mr-4">
                    <div class="mt-3 p-3 rounded bg-light">
                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% for photo in trick.photos %}
                <div class="col-md-3">
                    <div class="card mb-2">
                        <img src="{{ photo.location }}" alt="trick" class="img-fluid" style="height: 150px">
                        {%  if app.user %}
                            <div class="card-body d-flex justify-content-end">
                                <div>
                                    <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        {%  endif %}
                    </div>
                </div>
            {% endfor %}
            {% for video in trick.videos %}
                <div class="col-md-3">
                    <div class="card mb-2">
                        <iframe  src={{ video.location }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {%  if app.user %}
                            <div class="card-body d-flex justify-content-end">
                                <div>
                                    <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        {%  endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
{#        {% if app.user %}#}
{#            <div class="container col-md-8 mt-5 mb-5">#}
{#                <form method="post" action="">#}
{#                    <fieldset class="mb-4">#}
{#                        <div class="form-group"><label for="inputTitle">Title</label>#}
{#                            <input class="form-control" id="inputTitle" name="title" type="text" value="">#}
{#                        </div>#}
{#                        <div class="form-group"><label for="formControlTextareaContent">Description</label>#}
{#                            <textarea class="form-control" id="formControlTextareaContent" name="content"></textarea>#}
{#                        </div>#}
{#                        <label for="formControlSelectCategory">Category</label>#}
{#                        <select class="form-control" id="formControlSelectCategory" name="">#}
{#                        </select>#}
{#                        <input type="hidden" name="csrfToken" value="" />#}
{#                    </fieldset>#}
{#                    <fieldset class="d-flex flex-row-reverse">#}
{#                        <button type="submit" class="btn btn-success">Save</button>#}
{#                        <button type="submit" class="btn btn-danger mr-2">Delete</button>#}
{#                    </fieldset>#}
{#                </form>#}
{#            </div>#}
        <div class="container col-md-8 mt-5 mb-5">
            {{ form_start(formView) }}
            <fieldset class="mb-4">
                {{ form_errors(formView) }}

                <div class="form-group">
                    {{ form_row(formView.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formView.name) }}
                    {{ form_row(formView.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(formView.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </fieldset>
            <fieldset>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </fieldset>

            {{ form_end(formView) }}
        </div>
        <div class="row justify-content-around border rounded pt-3 pb-3 ml-3 mr-3 mb-3">
            <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}"><span class="badge badge-primary p-2">{{ trick.category.name }}</span></a>
            <p>Author: {{ trick.user.firstName }} {{ trick.user.lastName }}</p>
            <p>Created: {{ trick.createdDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
            <p>Modified: {{ trick.modifiedDate|format_datetime(pattern="MMMM d, yyyy, hh:mm") }}</p>
        </div>
    </div>
{% endblock %}