{% extends 'base.html.twig' %}

{% block title %}Trick details{% endblock %}

{% block body %}
        <div class="container mt-5 pt-3 border rounded">
                <div class="hero-trick-image mb-3" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('{{ cover.location }}')">
                        <div class="hero-text">
                                <h1>{{ trick.name|capitalize }}</h1>
                        </div>
                </div>
                <div class="row">
                        {% for photo in trick.photos %}
                        <div class="col-md-3">
                                <div class="card mb-2">
                                        <img src="{{ photo.location }}" alt="trick" class="img-fluid" style="height: 150px">
                                        <div class="card-body d-flex justify-content-end">
                                                <div>
                                                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                        {% for video in trick.videos %}
                        <div class="col-md">
                                <div class="card mb-2">
                                        <iframe  src={{ video.location }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <div class="card-body d-flex justify-content-end">
                                                <div>
                                                        <a href="#" class="mr-3"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                </div>
                <div>
                        {{ trick.description }}
                </div>
                <div class="row justify-content-around border rounded ml-3 mr-3 mt-3 pt-3">
                        <a href="{{ path('trick_category', {'slug': trick.category.slug}) }}" class="badge badge-primary">{{ trick.category.name }}</a>
                        <p>Author: {{ trick.user.firstName }} {{ trick.user.lastName }}</p>
                        <p>Created: {{ trick.createdDate|date }}</p>
                        <p>Modified: {{ trick.modifiedDate|date }}</p>
                </div>
                <hr/>
                <div class="container col-md-8 mt-5">
                        <form method="post" action="">
                                <fieldset>
                                        <div class="form-group">
                                                <textarea class="form-control" id="formControlTextareaMessage" name="message" rows="3" placeholder="Leave a comment" required></textarea>
                                        </div>
                                        <input type="hidden" name="csrfToken" value="" />
                                        <button type="submit" class="btn btn-success">Submit</button>
                                </fieldset>
                        </form>
                </div>
                <hr/>
                <div class="container col-md-8 mt-5">
                        <h6>Comments :</h6>
                        {% for i in 1..5 %}
                                <div class="card mt-1">
                                        <div class="card-body">
                                                <p class="card-text"></p>
                                        </div>
                                        <div class="card-footer text-muted text-right">
                                                <div>Autor : </div>
                                                <div>Created date : </div>
                                        </div>
                                </div>
                        {% endfor %}
                </div>
        </div>
{% endblock %}
